# Pandas and Matplotlib Homework

In [1]:
#load the libraries using the normal convention
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
##prevent plotting errors
%matplotlib inline

/anaconda3/envs/itp_2018/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

ModuleNotFoundError: No module named 'matplotlib'

In [6]:
#Load our excel files of interest into pandas
NHL_Goalies = pd.read_excel('NHLGoalies2016_2017.xls',na_values='',sheetname=0) 
GAA_ = pd.read_excel('NHLGoalies2016_2017.xls',na_values='',sheetname='5vs5')
NHL_Goalies.head()
# NHL_Goalies.tail()

/anaconda3/envs/itp_2018/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

,Last Name,First Name,Team,DOB,Birth City,S/P,Cntry,Nat,Ht,Wt,...,Cap Hit,Pace,1st,2nd,3rd,Star,GPS,Ginj,Injuries,CHIP
0,Allen,Jake,STL,1990-08-07,Fredericton,NB,CAN,CAN,74,203,...,2350000.0,104.033662,9.0,7.0,6.0,22.0,9.8,NaN,NaN,
1,Alves,Jorge,CAR,1979-01-30,Boston,MA,USA,USA,69,185,...,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,
2,Andersen,Frederik,TOR,1989-10-02,Herning,NaN,DNK,DNK,76,230,...,5000000.0,118.931391,9.0,6.0,6.0,21.0,13.1,2.0,Upper body,121951
3,Anderson,Craig,OTT,1981-05-21,Park Ridge,IL,USA,USA,74,187,...,4200000.0,114.858819,8.0,2.0,5.0,15.0,9.2,2.0,Lower body,102439
4,Bachman,Richard,VAN,1987-07-25,Salt Lake City,UT,USA,USA,70,183,...,575000.0,113.421038,1.0,0.0,1.0,2.0,1.1,NaN,NaN,

In [4]:
GAA_.head()

,First Name,Last Name,Team,TOI,GAA,GSAA,SV%,TrueSV%,ExpSV%,xGSAA,...,SF,xGF,GF,RebF,RushF,Supp,ZS%,OZS,DZS,NZS
0,Allen,Jake,STL,2692.83,2.139014,1.718026,0.924588,0.959630,0.923551,1.32,...,1307,104.22,113,78,97,2.517797,0.476449,789,867,919
1,Alves,Jorge,CAR,0.13,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,...,0,0.00,0,0,0,0.000000,1.000000,1,0,0
2,Andersen,Frederik,TOR,2997.20,2.342186,6.510058,0.927284,0.961078,0.916774,16.91,...,1531,140.48,139,74,181,2.782597,0.478216,922,1006,1100
3,Anderson,Craig,OTT,1908.44,1.854918,16.994380,0.940404,0.969255,0.922778,17.45,...,986,78.14,74,95,119,2.326508,0.525227,635,574,647
4,Bachman,Richard,VAN,244.84,2.695638,-0.330082,0.920863,0.958015,0.907626,1.84,...,107,8.77,8,4,18,1.960464,0.476821,72,79,80

#Appendix:
 1. DF = Pandas DataFrame
 2. NHL_Goalies DF = NHL_Goalies 
 3. GAA_ DF = GAA_

### Q1A) Create a new DF (*called NHL_Ones*) by:
#### Filtering the correct DF for Goalies that played 1 game <font color='red'> (GP = Games played)</font>

Notes: How would you find the 'GP' column in these files? Review from Pandas Lecture

In [84]:
#Answer 1A:

# NHL_Ones = NHL_Goalies.loc[NHL_Goalies['GP'].isin(a)]
# NHL_Ones
NHL_Ones = NHL_Goalies.loc[NHL_Goalies['GP']==1]
NHL_Ones

,Last Name,First Name,Team,DOB,Birth City,S/P,Cntry,Nat,Ht,Wt,...,Cap Hit,Pace,1st,2nd,3rd,Star,GPS,Ginj,Injuries,CHIP
0,Allen,Jake,STL,1990-08-07,Fredericton,NB,CAN,CAN,74,203,...,2350000.0,104.033662,9.0,7.0,6.0,22.0,9.8,NaN,NaN,
1,Alves,Jorge,CAR,1979-01-30,Boston,MA,USA,USA,69,185,...,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,
2,Andersen,Frederik,TOR,1989-10-02,Herning,NaN,DNK,DNK,76,230,...,5000000.0,118.931391,9.0,6.0,6.0,21.0,13.1,2.0,Upper body,121951
3,Anderson,Craig,OTT,1981-05-21,Park Ridge,IL,USA,USA,74,187,...,4200000.0,114.858819,8.0,2.0,5.0,15.0,9.2,2.0,Lower body,102439
4,Bachman,Richard,VAN,1987-07-25,Salt Lake City,UT,USA,USA,70,183,...,575000.0,113.421038,1.0,0.0,1.0,2.0,1.1,NaN,NaN,
5,Bernier,Jonathan,ANA,1988-08-07,Laval,QC,CAN,CAN,72,184,...,4150000.0,113.938340,5.0,0.0,2.0,7.0,6.0,3.0,Upper body,151829
6,Berra,Reto,FLA,1987-01-03,Bulach,NaN,CHE,CHE,76,210,...,1450000.0,108.457976,NaN,NaN,NaN,NaN,0.2,NaN,NaN,
7,Berube,Jean-Francois,NYI,1991-07-13,Repentigny,QC,CAN,CAN,73,177,...,675000.0,114.005505,0.0,1.0,1.0,2.0,0.8,NaN,NaN,
8,Bibeau,Antoine,TOR,1994-05-01,Victoriaville,QC,CAN,CAN,75,210,...,655000.0,130.294240,NaN,NaN,NaN,NaN,0.4,NaN,NaN,
9,Bishop,Ben,"TBL, LAK",1986-11-21,Denver,CO,USA,USA,79,216,...,5950000.0,108.466747,0.0,1.0,5.0,6.0,5.7,9.0,Lower body,653049
10,Bobrovsky,Sergei,CBJ,1988-09-20,Novokuznetsk,NaN,RUS,RUS,74,182,...,7425000.0,109.525950,17.0,6.0,6.0,29.0,14.9,2.0,Illness,181098
11,Brossoit,Laurent,EDM,1993-03-23,Port Alberni,BC,CAN,CAN,75,204,...,750000.0,110.633178,1.0,1.0,0.0,2.0,1.2,NaN,NaN,
12,Budaj,Peter,"LAK, TBL",1982-09-18,BanskÃ¡ Bystrica,NaN,SVK,SVK,73,196,...,600000.0,108.110995,4.0,7.0,4.0,15.0,8.6,NaN,NaN,
13,Campbell,Jack,LAK,1992-01-09,Port Huron,MI,USA,USA,74,197,...,NaN,96.000000,NaN,NaN,NaN,NaN,0.1,NaN,NaN,
14,Comrie,Eric,WPG,1995-07-06,Edmonton,AB,CAN,CAN,73,175,...,645000.0,124.451939,NaN,NaN,NaN,NaN,0.2,NaN,NaN,
15,Condon,Mike,"PIT, OTT",1990-04-27,Holliston,MA,USA,USA,74,197,...,575000.0,112.079733,9.0,1.0,4.0,14.0,6.8,NaN,NaN,
16,Copley,Pheonix,STL,1992-01-18,North Pole,AK,USA,USA,76,196,...,708750.0,104.864253,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,
17,Coreau,Jared,DET,1991-11-05,Perth,ON,CAN,CAN,78,220,...,612500.0,108.674473,1.0,1.0,1.0,3.0,1.0,NaN,NaN,
18,Crawford,Corey,CHI,1984-12-31,Montreal,QC,CAN,CAN,74,216,...,6000000.0,112.428393,8.0,5.0,0.0,13.0,11.0,11.0,"Appendectomy, Illness",804878
19,Darling,Scott,CHI,1988-12-22,Newport News,VA,USA,USA,78,232,...,587500.0,109.476386,5.0,5.0,5.0,15.0,6.2,5.0,Upper body,35823.2
20,Dell,Aaron,SJS,1989-05-04,Airdrie,AB,CAN,CAN,72,205,...,625000.0,114.105623,3.0,3.0,2.0,8.0,4.2,NaN,NaN,
21,Domingue,Louis,ARI,1992-03-06,St-Hyacinthe,QC,CAN,CAN,75,210,...,1050000.0,113.230679,3.0,0.0,2.0,5.0,4.6,6.0,"Lower body, Lower body",76829.3
22,Driedger,Chris,OTT,1994-05-18,Winnipeg,MB,CAN,CAN,76,205,...,755000.0,123.000000,NaN,NaN,NaN,NaN,-0.2,NaN,NaN,
23,Dubnyk,Devan,MIN,1986-05-04,Regina,SK,CAN,CAN,78,213,...,4333333.0,109.334753,8.0,6.0,8.0,22.0,13.1,NaN,NaN,
24,Elliott,Brian,CGY,1985-04-09,Newmarket,ON,CAN,CAN,74,209,...,2500000.0,108.444028,6.0,7.0,5.0,18.0,7.3,1.0,Illness,30487.8
25,Enroth,Jhonas,TOR,1988-06-25,Stockholm,NaN,SWE,SWE,70,175,...,750000.0,112.377019,NaN,NaN,NaN,NaN,0.2,NaN,NaN,
26,Fleury,Marc-Andre,PIT,1984-11-28,Sorel,QC,CAN,CAN,74,180,...,5750000.0,117.360311,5.0,3.0,3.0,11.0,6.4,NaN,NaN,
27,Forsberg,Anton,CBJ,1992-11-27,HÃ¤rnÃ¶sand,NaN,SWE,SWE,75,192,...,650000.0,110.611664,NaN,NaN,NaN,NaN,0.0,NaN,NaN,
28,Gibson,John,ANA,1993-07-14,Pittsburgh,PA,USA,USA,75,226,...,2300000.0,109.329402,7.0,8.0,2.0,17.0,10.3,13.0,Lowe body,364634
29,Gillies,Jon,CGY,1994-01-22,Concord,NH,USA,USA,78,223,...,925000.0,109.000000,1.0,0.0,0.0,1.0,0.3,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Mrazek,Petr,DET,1992-02-14,Ostrava,NaN,CZE,CZE,74,183,...,4000000.0,101.689696,3.0,4.0,6.0,13.0,6.5,NaN,NaN,
66,Murray,Matt,PIT,1994-05-25,Thunder Bay,ON,CAN,CAN,76,178,...,628333.0,115.453033,2.0,5.0,2.0,9.0,10.3,8.0,"Hand, Lower body",61300.8
67,Nedeljkovic,Alex,CAR,1996-01-07,Parma,OH,USA,USA,72,198,...,NaN,102.170284,NaN,NaN,NaN,NaN,0.3,NaN,NaN,
68,Neuvirth,Michal,PHI,1988-03-23,ÃšstÃ­ nad Labem,NaN,CZE,CZE,73,209,...,1625000.0,114.444254,0.0,1.0,1.0,2.0,1.9,27.0,"Knee, Undisclosed",535061
69,Niemi,Antti,DAL,1983-08-29,Vantaa,NaN,FIN,FIN,74,215,...,4500000.0,120.208273,5.0,2.0,0.0,7.0,3.0,NaN,NaN,
70,Nilsson,Anders,BUF,1990-03-19,Lulea,NaN,SWE,SWE,78,229,...,1000000.0,115.654371,4.0,1.0,1.0,6.0,6.0,3.0,Undisclosed,36585.4
71,Pavelec,Ondrej,WPG,1987-08-31,Kladno,NaN,CZE,CZE,75,215,...,3900000.0,108.941980,0.0,2.0,1.0,3.0,0.7,24.0,"Lower body, Knee",1.14146e+06
72,Peters,Justin,ARI,1986-08-30,Blyth,ON,CAN,CAN,73,210,...,600000.0,101.115987,NaN,NaN,NaN,NaN,0.3,NaN,NaN,
73,Pickard,Calvin,COL,1992-04-15,Moncton,NB,CAN,CAN,73,200,...,1000000.0,106.926059,3.0,4.0,8.0,15.0,7.1,NaN,NaN,
74,Price,Carey,MTL,1987-08-16,Anahim Lake,BC,CAN,CAN,75,226,...,6500000.0,111.371400,9.0,9.0,6.0,24.0,12.6,3.0,Flu,237805
75,Quick,Jonathan,LAK,1986-01-21,Milford,CT,USA,USA,73,218,...,5800000.0,114.141468,3.0,3.0,1.0,7.0,2.7,59.0,Lower body,4.17317e+06
76,Raanta,Antti,NYR,1989-05-12,Rauma,NaN,FIN,FIN,72,195,...,1000000.0,108.808739,4.0,4.0,1.0,9.0,5.4,5.0,Lower body,60975.6
77,Rask,Tuukka,BOS,1987-03-10,Savonlinna,NaN,FIN,FIN,75,176,...,7000000.0,109.563799,14.0,4.0,8.0,26.0,9.8,4.0,Lower body,341463
78,Reimer,James,FLA,1988-03-15,Morweena,MB,CAN,CAN,74,217,...,3400000.0,107.528948,3.0,5.0,5.0,13.0,8.1,3.0,Undisclosed,124390
79,Rinne,Pekka,NSH,1982-11-03,Kempele,NaN,FIN,FIN,77,217,...,7000000.0,111.598705,5.0,9.0,10.0,24.0,11.3,2.0,"Illness, Lower body",170732
80,Rittich,David,CGY,1992-08-19,Jihlava,NaN,CZE,CZE,75,202,...,NaN,108.000000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,
81,Saros,Juuse,NSH,1995-04-19,Forssa,NaN,FIN,FIN,71,180,...,692500.0,112.507813,4.0,1.0,5.0,10.0,4.4,NaN,NaN,
82,Schneider,Cory,NJD,1986-03-18,Marblehead,MA,USA,USA,75,205,...,6000000.0,99.791717,5.0,4.0,7.0,16.0,9.5,NaN,NaN,
83,Smith,Jeremy,COL,1989-04-13,Dearborn,MI,USA,USA,72,177,...,675000.0,106.464392,0.0,0.0,1.0,1.0,0.8,NaN,NaN,
84,Smith,Mike,ARI,1982-03-22,Kingston,ON,CAN,CAN,76,215,...,5666667.0,115.348101,7.0,4.0,6.0,17.0,10.9,13.0,"Lower body, Illness",898374
85,Stalock,Alex,MIN,1987-07-28,St. Paul,MN,USA,USA,72,187,...,650000.0,100.911002,0.0,0.0,1.0,1.0,0.5,NaN,NaN,
86,Stolarz,Anthony,PHI,1994-01-20,Edison,NJ,USA,USA,78,210,...,753333.0,106.891203,1.0,1.0,1.0,3.0,1.4,NaN,NaN,
87,Subban,Malcolm,BOS,1993-12-21,Toronto,ON,CAN,CAN,74,200,...,863333.0,107.843137,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,
88,Talbot,Cam,EDM,1987-07-05,Caledonia,ON,CAN,CAN,75,199,...,4166667.0,112.035398,11.0,8.0,2.0,21.0,14.0,NaN,NaN,
89,Tokarski,Dustin,ANA,1989-09-16,Watson,SK,CAN,CAN,72,205,...,NaN,91.993186,NaN,NaN,NaN,NaN,0.1,NaN,NaN,
90,Ullmark,Linus,BUF,1993-07-31,Lugnvik,NaN,SWE,SWE,76,221,...,775833.0,100.113507,NaN,NaN,NaN,NaN,0.2,NaN,NaN,
91,Varlamov,Semyon,COL,1988-04-27,Samara,NaN,RUS,RUS,74,209,...,5900000.0,107.465344,3.0,3.0,1.0,7.0,3.1,50.0,"Upper body, Groin, Hip",3.59756e+06
92,Vasilevskiy,Andrei,TBL,1994-07-25,Tyumen,NaN,RUS,RUS,75,207,...,925000.0,108.651016,4.0,8.0,2.0,14.0,9.3,NaN,NaN,
93,Ward,Cam,CAR,1984-02-29,Saskatoon,SK,CAN,CAN,73,185,...,3300000.0,108.609467,5.0,6.0,6.0,17.0,8.5,NaN,NaN,
94,Zatkoff,Jeff,LAK,1987-06-09,Detroit,MI,USA,USA,74,186,...,900000.0,109.011628,NaN,NaN,NaN,NaN,0.4,11.0,Lower body,120732

 ## Q1B) 
 #### A. Find the value of the minimum Salary for the entire dataset 
 #### B. Replace the missing values from the NHL_Ones DF with this
 #### C. Create a new DF after replacement by **adding** a column called  "Adjusted_Salary"
 #### D. I would like to only see the old "Salary" column and the "Adjusted Salary" column from the new Dataframe

#### Notes:
1. Note where the minimum Salary value is coming & where you are going to assign it to
2. Review notes from pandas **replacement**
3. Look up Numpy definition for null
4. Look up Pandas **Series** Naming 
5. Review concat function in Pandas
6. Review how to slice columns

In [28]:
#Answer 1B:
NHL_Goalies.Salary.min()

575000.0

In [59]:
newNHL_Ones = NHL_Ones.replace(np.nan, 575000.0)
new = newNHL_Ones[['Salary']]
new_cols = [['Adjusted_Salary']]
new.columns = new_cols

df_new = pd.concat([new, NHL_Goalies['Salary']], axis=1)
df_new

    (Adjusted_Salary,)     Salary
0            2500000.0  2500000.0
1             575000.0        NaN
2            5000000.0  5000000.0
3            4750000.0  4750000.0
4             575000.0   575000.0
5            4150000.0  4150000.0
6            1500000.0  1500000.0
7             675000.0   675000.0
8             680000.0   680000.0
9            5950000.0  5950000.0
10           8500000.0  8500000.0
11            650000.0   650000.0
12            600000.0   600000.0
13            575000.0        NaN
14            575000.0   575000.0
15            575000.0   575000.0
16            708750.0   708750.0
17            575000.0   575000.0
18           6000000.0  6000000.0
19            600000.0   600000.0
20            575000.0   575000.0
21           1000000.0  1000000.0
22            780000.0   780000.0
23           5000000.0  5000000.0
24           2700000.0  2700000.0
25            750000.0   750000.0
26           5750000.0  5750000.0
27            650000.0   650000.0
28           1500000.0  1500000.0
29            925000.0   925000.0
..                 ...        ...
65           3850000.0  3850000.0
66            575000.0   575000.0
67            575000.0        NaN
68           1750000.0  1750000.0
69           4500000.0  4500000.0
70           1000000.0  1000000.0
71           4750000.0  4750000.0
72            600000.0   600000.0
73            925000.0   925000.0
74           7000000.0  7000000.0
75           7000000.0  7000000.0
76           1000000.0  1000000.0
77           7500000.0  7500000.0
78           4500000.0  4500000.0
79           7000000.0  7000000.0
80            575000.0        NaN
81            667500.0   667500.0
82           6000000.0  6000000.0
83            675000.0   675000.0
84           6500000.0  6500000.0
85            650000.0   650000.0
86            725000.0   725000.0
87            832500.0   832500.0
88           4150000.0  4150000.0
89            575000.0        NaN
90            892500.0   892500.0
91           6000000.0  6000000.0
92            925000.0   925000.0
93           3500000.0  3500000.0
94            900000.0   900000.0

[95 rows x 2 columns]

### Q2) A. Subset the NHL goalies data to include Goalies that played in more than 25 games AND have a GAA lower than 3.00 and store the New DF as 'workhorse'

Notes: 
1. Review notes from Pandas Lecture on creating masks
2. Internet search for Multiple Boolean indexing on multiple columns in a Pandas DataFrame

In [81]:
#Answer 2:


# df21 = NHL_Goalies.loc[NHL_Goalies['GAA']<3.00] 
# NHL_Goalies.loc[NHL_Goalies['GP']>25]
# workhorse = df21 and df22
NHL_Goalies['GP']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
     ..
65    1
66    1
67    1
68    1
69    1
70    1
71    1
72    1
73    1
74    1
75    1
76    1
77    1
78    1
79    1
80    1
81    1
82    1
83    1
84    1
85    1
86    1
87    1
88    1
89    1
90    1
91    1
92    1
93    1
94    1
Name: GP, Length: 95, dtype: int64

### Q3. Create 2 python functions that: 
<br> </br>
#### A. Creates/*Returns* a new DataFrame that displays the number of missing values in every column. 
#### This new DataFrame has one new column named "Missing" with the sum of the missing values from the columns

### Notes 
***Function takes one argument: An input DataFrame***
<br> </br>
<br> </br>
** One Proposed method:**
1. Create a pandas series object from the sum of the nulls in every column (review class notes)
2. Convert the series object to a DataFrame and pass the list of column names from the input DataFrame as the index. (read Pandas Help online)
3. During the conversion of the series object to a DataFrame pass a columns argument to create a name for the new Output DataFrame's Column.

### Expected Output:
<img src='Missing_cols_expectedoutput.png'>

In [ ]:
# Answer 3A: CODE HERE; Please comment each part

#### B. Creates a new *column* called 'missing_values' in the input DF that sums the missing values in each row.

### Notes: 
***Function takes one argument: An input DataFrame***
<br> </br>
<br> </br>
Review the Column creation method in lecture and the axis arguments needed

### Expected Output:
<img src= 'missingrows_expectedoutput.png'>

In [ ]:
#Answer 3B here; Please comment each part

### Q4) Matplotlib Question Plot in one figure and 2 side by side plots:
<br> </br>
#### A. Plot the histogram of the all the GAA of the NHL_Goalies DF  AND the goalies that played in more than 25 games with a GAA < 3.00, 
#### B. Label the Titles of the plots differently (*ie EntireSet + Subset*)
#### C. Change the color of one of the plots from the default

# Notes

1. convert your column of interest into a NumPY array (look up online for usage)
2. Review: https://matplotlib.org/devdocs/api/_as_gen/matplotlib.pyplot.hist.html

In [ ]:
#Answer 4 here: pleae comment

### Q5) GroupBy Question
##### 1. Subset the NHL_Goalies DataFrame where Injuries is not known <font color='red'>(Injuries=NaN)</font>; 
##### 2. Use a Merge with the GAA_  DF to produce a NEW DF (*called mergedDF*) 
###### *** USE A JOIN THAT PRESERVES ORDER AND USES THE INTERSECTION OF KEYS***
###### *** USE BOTH THE LEFT AND RIGHT INDEXES AS JOIN KEYS***
##### 3. From the mergedDF keep FirstName/LastName/Team/Cntry/ SV% /GA/GAA/ TOI (note one copy for any duplicate column)
##### 4. GroupBy country on mergedDF and aggregate The Means, Mins, and Maximum of the kept columns
#### 5. Create a dataframe of the <font color='red'>TOI </font>groupby object and write it to a comma seperated value file called ('TOI_2017.csv')

## Notes:

1. Review how to create selection criteria and how aggs/joins work from lecture notes;
2. https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html
3. https://stackoverflow.com/questions/14734533/how-to-access-pandas-groupby-dataframe-by-key
4. https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.get.html

In [ ]:
#Answer 5 here: please comments

# Q6) Write a function(s)  
## that subsets a dataframe by removing rows that are WITHIN the InterQuartile Region of a specified column
<br> </br>
### The function takes as input 
##### A: Pandas_Dataframe (For example use NHL_GoaliesDF)
##### B. Column name
### Add a condition that returns an error if the Column Name chosen is not:
##### A. Numeric Dtype
##### B. Does not exist in the Numeric Columns
### The output is a DataFrame that removes rows outside of the specified columns IQR
<br> </br>
<font color='red'>**You can use smaller helper functions **<font>
<br> </br>
See --> <href>=https://en.wikipedia.org/wiki/Interquartile_range</href>
#hint: There are several pandas subfunctions that can be useful

In [ ]:
#Answer Question 6 here

***For any questions regarding this assignment please email SAMSON: <br> </br><font color='green'>sjacob210@gmail.com ***</font>